<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>co.uk.taboon.crm-backups</string>
  <key>ProgramArguments</key>
  <array>
    <string>/ABSOLUTE/PATH/TO/taboon-crm-fabro/deploy/macos/pull-backups</string>
  </array>
  <key>EnvironmentVariables</key>
  <dict>
    <key>TABOON_BACKUP_SOURCE</key>
    <string>taboon-crm@YOUR_HETZNER_IP:/opt/taboon-crm/pb_data/backups/</string>
    <key>TABOON_BACKUP_DESTINATION</key>
    <string>/ABSOLUTE/PATH/IN/GOOGLE_DRIVE/Taboon CRM</string>
  </dict>
  <key>StartCalendarInterval</key>
  <dict>
    <key>Hour</key>
    <integer>3</integer>
    <key>Minute</key>
    <integer>0</integer>
  </dict>
</dict>
</plist>
